{
    "server":"{{ item.bindip | default(lin_ss_defaults.bindip) }}",
    "server_port":{{ item.port | default(lin_ss_defaults.port) }},
    "local_port":{{ item.local_port | default(lin_ss_defaults.local_port) }},
    "password":"{{ item.password | default(lin_ss_defaults.password) }}",
    "method":"{{ item.method | default(lin_ss_defaults.method) }}",
{% if item.reuse is defined and item.reuse | bool == true %}
    "fast_open":true,
    "reuse_port":true,
    "mode":"tcp_and_udp",
{% endif %}
{% if item.obfs is defined and item.obfs | bool == true %}
    "plugin":"obfs-server",
    "plugin_opts":"obfs=tls",
{% endif %}
    "timeout":{{ item.timeout | default(lin_ss_defaults.timeout) }}
}
